<div class="row">
  <div class="col-12 mb-5">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-body">
                              <h2 class="card-title">Mantenimiento Catálogos</h2>
                              <!--Filtro para Municipio y Colonia-->
                              <div class="row">
                                  <div class="col-2">
                                      <div class="form-floating">
                                        <select class="form-select" id="responsable"  name="responsable">
                                          <option value="" selected>Seleccione un Estado</option>
                                          <option value="1">Aguascalinetes</option>
                                          <option value="2">Chihuahua</option>
                                          <option value="3">Nuevo León</option>
                                          <option value="4">Campeche</option>
                                        </select>
                                        <label for="responsable">Estado</label>
                                      </div>
                                  </div>
                                  <div class="col-2">
                                      <div class="form-floating">
                                          <select class="form-select" id="responsable"  name="responsable">
                                              <option value="" selected>Seleccione un código postal</option>
                                              <option value="1">13270</option>
                                              <option value="2">14345</option>
                                              <option value="3">00500</option>
                                              <option value="4">05400</option>
                                          </select>
                                          <label for="responsable">Código Postal</label>
                                      </div>
                                  </div>
                                  <!--Botón Sincronizar-->
                                  <div class="col-1 ms-auto">
                                      <button class="btn btn-success ms-auto">Sincronizar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br />
              <!-- Inicio Tabla -->
              <div class="row mt-2">
                <!--Codigos Postales-->
                <div class="col-6">
                  <br>
                  <h6>Códigos Postales</h6> 
                  <div class="table-responsive" style="overflow-x: hidden; overflow-y: auto; height: 12em;">
                    <table class="table" id="tablaTrabajoDevengado">
                      <thead class="table-success" style="position: sticky; top: 0;">
                        <tr>
                          <th scope="col">Columan 1</th>
                          <th scope="col">Columna 2</th>
                          <th scope="col">Columna 3</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <th class="">Fila 1</th>
                          <td class="">Fila 1</td>
                          <td class="">Fila 1</td>
                        </tr>
                        <tr class="odd">
                          <th class="">Fila 2</th>
                          <td class="">Fila 2</td>
                          <td class="">Fila 2</td>
                        </tr>
                        <tr class="odd">
                          <th class="">Fila 3</th>
                          <td class="">Fila 3</td>
                          <td class="">Fila 3</td>
                        </tr>
                        <tr class="odd">
                          <th class="">Fila 4</th>
                          <td class="">Fila 4</td>
                          <td class="">Fila 4</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--Estados-->
                <div class="col-6">
                  <br>
                  <h6 class="card-title">Estados</h6> 
                  <div class="table-responsive" style="overflow-x: hidden; overflow-y: auto; height: 12em;">
                    <table class="table" id="tablaProyectos">
                      <thead class="table-success" style="position: sticky; top: 0;">
                        <tr>
                          <th scope="col">ClaveEdo</th>
                          <th scope="col">Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <th class="">11</th>
                          <td class="">0</td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--Niveles de Atención-->
                <div class="col-6 mt-4">
                  <h6>Niveles de Atención</h6> 
                  <div class="table-responsive" style="overflow-x: hidden; overflow-y: auto; height: 12em;">
                    <table class="table" id="tablaTrabajoDevengado">
                      <thead class="table-success" style="position: sticky; top: 0;">
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Descripción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <td class="">1</td>
                          <td class="">UNE</td>
                        </tr>
                        <tr class="odd">
                          <td class="">2</td>
                          <td class="">Sucursal</td>
                        </tr>
                        <tr class="odd">
                          <td class="">3</td>
                          <td class="">Centro de Atención Telefónica</td>
                        </tr>
                        <tr class="odd">
                          <td class="">4</td>
                          <td class="">Vía Electrónica</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--Medios de recepción-->
                <div class="col-6 mt-4">
                  <h6>Medios de recepción</h6> 
                  <div class="table-responsive" style="overflow-x: hidden; overflow-y: auto; height: 12em;">
                    <table class="table" id="tablaTrabajoDevengado">
                      <thead class="table-success" style="position: sticky; top: 0;">
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Descripción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <td class="">0</td>
                          <td class="">3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--Municipios-->
                <div class="col-6 mt-4">
                  <h6>Municipios</h6> 
                  <div class="table-responsive">
                    <table class="table" id="tablaTrabajoDevengado">
                      <thead class="table-success" style="position: sticky; top: 0;">
                        <tr>
                          <th scope="col">Id Estado</th>
                          <th scope="col">Municipio</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <td class=""></td>
                          <td class=""></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--Colonia-->
                <div class="col-6 mt-4">
                  <h6>Colonia</h6> 
                  <div class="table-responsive">
                    <table class="table" id="tablaTrabajoDevengado">
                      <thead class="table-success" style="position: sticky; top: 0;">
                        <tr>
                          <th scope="col">Estado Id</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Municipio</th>
                          <th scope="col">Colonia</th>
                          <th scope="col">Tipo Localidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <td class="">0</td>
                          <td class="">0</td>
                          <td class="">0</td>
                          <td class="">0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--Fin Tabla-->
          </div>
      </div>
  </div>
</div>