<section class="vh-100" style="background-color: #024e4f;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
                <img src="../../assets/resources/img/descarga.png" class="mb-4" alt="">
                <div class="form-group mb-2">
                    <label>Usuario</label>
                    <input type="email" class="form-control" placeholder="Ingresa usuario valido">
                </div>
                <div class="form-group ">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                </div>
            </div>
            <div class="text-center mb-4">
                <button class="btn btn-primary btn-lg btn-block " type="submit">Iniciar Sesión</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>