<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Consulta Tickets </h2>
              <!--Filtro para Municipio y Colonia-->
              <div class="row">
                  <!--Botón Sincronizar-->
                  <div class="col-1">
                      <button class="btn btn-success">Sincronizar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Inicio Tabla -->
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table" id="tablaProyectos">
                <thead class="table-success">
                  <tr>
                    <th scope="col">Col 1</th>
                    <th scope="col">Col 2</th>
                    <th scope="col">Col 3</th>
                    <th scope="col">Col 4</th>
                    <th scope="col">Col 5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Fila 1</th>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                  </tr>
                  <tr>
                    <th scope="row">Fila 1</th>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                  </tr>
                  <tr>
                    <th scope="row">Fila 1</th>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                  </tr>
                  <tr>
                    <th scope="row">Fila 1</th>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Fin Tabla -->
      </div>
    </div>
  </div>
</div>