<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Bitacora de Respuestas</h2>
              <div class="row">
                  <!--Botón Sincronizar-->
                  <div class="col-1 ms-auto">
                      <button class="btn btn-success ms-auto mt-3">Sincronizar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Inicio Tabla -->
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table" id="tablaProyectos">
                <thead class="table-success">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tipo de Respuesta</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de Respuesta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Fila 1</th>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                    <td>Fila 1</td>
                  </tr>
                  <tr>
                    <th scope="row">Fila 2</th>
                    <td>Fila 2</td>
                    <td>Fila 2</td>
                    <td>Fila 2</td>
                  </tr>
                  <tr>
                    <th scope="row">Fila 3</th>
                    <td>Fila 3</td>
                    <td>Fila 3</td>
                    <td>Fila 3</td>
                  </tr>
                  <tr>
                    <th scope="row">Fila 4</th>
                    <td>Fila 4</td>
                    <td>Fila 4</td>
                    <td>Fila 4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Fin Tabla -->
      </div>
    </div>
  </div>
</div>